.Button {
  all: inherit;
  display: inline;
  cursor: pointer;

  border: 2px solid #ccc;
  /* font- */

  margin: 0;
  padding: 0.5rem;

  font-weight: bold;
  color: #666;

  transition: all 0.2s ease;
}

.Button:hover {
  transform: scale(1.05);
}

.Button:active {
  transform: scale(0.95);
  color: black;
  border-color: black;
}
